html{
    font-family: Helvetica;
    font-size: 62.5%;
    text-align: center;
    color: white;
}
h1{
  padding-top: 10vh;
    font-size: 5rem;
}
.forms{
    background: url("https://firebasestorage.googleapis.com/v0/b/ecosporas-hbdcm1.appspot.com/o/cajas.jpg?alt=media&token=e53d4b36-144a-44ac-8c7c-fa5b33a4a913");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    font-size: 2.2rem;
    text-shadow: 2px 2px #000000;
}
.backgroundConsumption{
    background: url("https://firebasestorage.googleapis.com/v0/b/ecosporas-hbdcm1.appspot.com/o/escri.jpg?alt=media&token=543dbf13-d169-46e2-85ca-bbef37a6a6bd");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    font-size: 2.2rem;
    text-shadow: 2px 2px #000000;
}
.hurry {
  height: 100vh;
  background: url("https://firebasestorage.googleapis.com/v0/b/ecosporas-hbdcm1.appspot.com/o/escri.jpg?alt=media&token=543dbf13-d169-46e2-85ca-bbef37a6a6bd");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  font-size: 2.2rem;
  text-shadow: 2px 2px #000000;
}
.intro{
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(79, 127, 159, 1);
    padding: 1rem;
}
.emptyCel{
    font-size: 2rem;
}
